.favorite-page {
    .favorites-heading {
        margin: 20px 0;
    }
  .favorite-list {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2), 0px 1px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)!important;
    .warning-msg {
        margin: 10px 0;
        padding: 10px;
        border-radius: 3px 3px 3px 3px;
        color: #9F6000;
        background-color: #FEEFB3;
    }
    ul {
      list-style: none;
      padding: 20px 40px 10px;
      margin: 0;
      li {
          h4 {
              margin-top: 5px;
          }
      }
      .btn-favorite {
        margin: 15px 20px 35px 0;
      }
      .border {
          padding: 0 30px;
          border: 1px solid;
      }
    }
  }
}
