.about-page {
    flex-direction: column;
    padding: 0 50px;
    @media(min-width: 600px) {
      padding: 0 100px;
    }
    .about-container{
     margin-top: 20px;   
    }
    h2 {
        margin-top: 20px;
    }
}